<!-- start of form error checking -->
<% if @member.errors.any? %>
  <div class="alert alert-warning" role="alert">
    <% @member.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>
<!-- end of form error checking -->

<%= form_for @member do |form| %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :gender %>
    <%= form.text_field :gender, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label "Business School" %>
    <%= form.collection_select :bschool_id, Bschool.all, :id, :name, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= form.label :year_of_graduation %>
    <%= form.text_field :year_of_graduation, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :country_id %>
    <%= form.collection_select :country_id, Country.all, :id, :name, {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :current_location %>
    <%= form.text_field :current_location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label "SEA MBA Year attended " %>
    <%= form.text_field :SEA_MBA_year_attended, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label "Pre-MBA Employer" %>
    <%= form.text_field :pre_mba_company, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label "MBA Internship Employer" %>
    <%= form.text_field :mba_internship_company, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label "Post-MBA Employer" %>
    <%= form.text_field :post_mba_company, class: "form-control" %>
  </div>


  <%= form.submit class: "btn btn-success" %>
  


<% end %>